<h1><%= @patient.name %></h1>

<h3>Appointments</h3>
<ul>
  <% @patient.appointments.each do |appt| %>
    <li>Date/Time: <%= appt.format_date %></li>
    <li>Doctor: <%= link_to appt.doctor.name, appt.doctor %></li>
    <br></br>
  <% end %>
</ul>
