<h1>Appointment</h1>

<p>Date/Time: <%= @appointment.format_date %></p>

<p>Patient: <%= link_to @appointment.patient.name, @appointment.patient %></p>

<p>Doctor: <%= link_to @appointment.doctor.name, @appointment.doctor %></p>
